<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/meta" %>

    <title>Standup App</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render "layouts/html5shim" %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/main_header" %>
      <%= render "layouts/main_sidebar" %>

      <div class="content-wrapper">
        <%= render "layouts/content_header" %>
        <section class="content container-fluid">
          <%= yield %>
        </section>
      </div>

      <%= render "layouts/main_footer" %>
      <%= render "layouts/control_sidebar" %>
    </div>
  </body>
</html>
